

.column {
    float: left;
    padding: 10px;
}

/* .colume.side means a div that have both class column, side but .column .side means a div that have class="side" in a dive that have class="column" */
.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.paginationcenter{
    text-align:center;
}
